@import 'variables/main';

body {
  background: $azul-color;
  height: 200vh;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

nav {
  border-bottom: 1px solid $border-bottom-color;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  transition-duration: .5s;
  width: 100%;
  z-index: 2;

  &.fixed {
    background: $background-fixed-color;
    border-bottom: 1px solid $border-fixed-color;
    box-shadow: 0 4px 11px $box-shadow-color;
    position: fixed;
  }

  .logo {
    background-image: url('logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    margin: 12px 10px;
    padding: 25px;
    vertical-align: top;
  }

  ul {
    display: inline-block;
    float: right;
    padding-top: 10px;
    vertical-align: top;

    li {
      display: inline-block;

      a {
        color: $white;
        display: block;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: lighter;
        padding: $default-margin * 2 $default-padding;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: .3s;

        &:hover {
          color: $orange-light-color;
        }
      }
    }
  }
}

header {
  background-image: url('hb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 40px);
  padding: 33vh;
  position: relative;
  text-align: center;

  .shadow {
    background: $blue-transparent-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  h1 {
    border: 5px solid;
    color: $white-color-text;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: normal;
    padding: $default-margin $default-margin * 2;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    span {
      color: $orange-light-color;
      font-size: 65px;
      font-weight: bolder;
      z-index: 2;
    }
  }

  .fa {
    border: 3px solid;
    border-radius: 30px;
    bottom: 15px;
    color: $white-color-text;
    cursor: pointer;
    font-size: 30px;
    left: calc(50% - 25px);
    padding: 10px 17px;
    position: absolute;
    transition-duration: .3s;
    z-index: 2;

    &:hover {
      background: $orange-transparent-color;
      box-shadow: 0 4px 11px $gray-light-color;
      color: $orange-light-color;
    }
  }
}

.contact {
  background-color: $orange-light-color;
  color: $gray-dark-color;
  font-family: sans-serif;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase;

  &-frase {
    color: $gray-dark-color;
    float: left;
    font-size: 9px;
    font-weight: bold;
    padding: 12px;
  }

  &-tel {
    display: inline-block;
    padding: 10px;
  }

  &-link {
    display: inline-block;
    padding: 5px 20px 5px 5px;

    a {
      border-radius: 3px;
      color: $gray-dark-color;
      display: block;
      font-size: 10px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


section {
  background: $azul-color;
  color: $white-color-text;
  font-family: $section-font-family;
  padding: 80px;
  position: relative;
  text-align: center;

  .about {
    p {
      font-size: 18px;
    }
  }

  h2 {
    border: 3px solid $white;
    color: $orange-light-color;
    display: inline-block;
    margin-bottom: 70px;
    padding: 10px 20px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    padding: 0 150px 50px;
    text-align: center;
  }

  .half-section {
    padding: 0 50px;
    text-align: left;

    h3 {
      border-bottom: 2px solid $white;
      color: $orange-light-color;
      display: inline-block;
      margin: $default-margin * 2 $default-margin * 5;
      padding-bottom: $default-margin;
      text-align: left;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      padding: 0;
      padding-left: 50px;
      text-align: left;
      width: 55vw;
    }
  }
}


.services {
  background: $dark-blue-color;
  overflow: hidden;

  .container {
    margin: 0 auto;

    .card {
      background: $azul-color;
      border-bottom: 3px solid $white-color-text;
      display: inline-block;
      margin: 0 10px;
      margin-bottom: 10px;
      min-height: 240px;
      padding: 15px 40px 35px;
      transition-duration: .3s;
      vertical-align: top;
      width: 30%;

      &:hover {
        border-bottom: 3px solid $orange-light-color;
        box-shadow: 3px 4px 15px $transparent-color;
        transform: scale(1.03);
      }

      h3 {
        border-bottom: 2px solid $white;
        color: $orange-light-color;
        display: inline-block;
        font-size: 14px;
        margin: 25px 50px;
        padding-bottom: 10px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        font-weight: lighter;
        line-height: 23px;
        padding: 0;
      }
    }
  }
}


.tecs {
  padding: 20px;

  .item {
    background: $azul-color;
    border-radius: 60px;
    display: inline-block;
    margin: 0 25px;
    padding: 5px;
    transition-duration: .3s;

    &:hover {
      background: $dark-blue-color;
      box-shadow: 1px 2px 10px $transparent-color;
      transform: scale(1.04);
    }

    img {
      height: 100px;
      padding: $default-padding;
      transition-duration: .3s;
      width: 100px;
    }
  }
}
