$azul-color: #272d38;

$border-bottom-color: rgba(255, 176, 31, 0);
$background-fixed-color: rgba(255, 176, 31, .05);
$border-fixed-color: rgba(255, 176, 31, .27);
$box-shadow-color: rgba(10, 10, 10, .28);
$dark-blue-color: #333a48;
$transparent-color: rgba(0, 0, 0, .44);
$orange-light-color: #ffb01f;

$white: #000;
