body {
  background: #272d38;
  height: 200vh; }

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *::after, *::before {
    box-sizing: border-box; }

nav {
  border-bottom: 1px solid rgba(255, 176, 31, 0);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  transition-duration: .5s;
  width: 100%;
  z-index: 2; }
  nav.fixed {
    background: rgba(255, 176, 31, 0.05);
    border-bottom: 1px solid rgba(255, 176, 31, 0.27);
    box-shadow: 0 4px 11px rgba(10, 10, 10, 0.28);
    position: fixed; }
  nav .logo {
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    margin: 12px 10px;
    padding: 25px;
    vertical-align: top; }
  nav ul {
    display: inline-block;
    float: right;
    padding-top: 10px;
    vertical-align: top; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        color: #fff;
        display: block;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: lighter;
        padding: 20px 15px;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: .3s; }
        nav ul li a:hover {
          color: #ffb01f; }

header {
  background-image: url("hb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 40px);
  padding: 33vh;
  position: relative;
  text-align: center; }
  header .shadow {
    background: rgba(10, 26, 49, 0.19);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  header h1 {
    border: 5px solid;
    color: #fdfdfd;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: normal;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2; }
    header h1 span {
      color: #ffb01f;
      font-size: 65px;
      font-weight: bolder;
      z-index: 2; }
  header .fa {
    border: 3px solid;
    border-radius: 30px;
    bottom: 15px;
    color: #fdfdfd;
    cursor: pointer;
    font-size: 30px;
    left: calc(50% - 25px);
    padding: 10px 17px;
    position: absolute;
    transition-duration: .3s;
    z-index: 2; }
    header .fa:hover {
      background: rgba(255, 176, 31, 0.04);
      box-shadow: 0 4px 11px rgba(10, 10, 10, 0.38);
      color: #ffb01f; }

.contact {
  background-color: #ffb01f;
  color: #33363d;
  font-family: sans-serif;
  font-size: 11px;
  text-align: right;
  text-transform: uppercase; }
  .contact-frase {
    color: #33363d;
    float: left;
    font-size: 9px;
    font-weight: bold;
    padding: 12px; }
  .contact-tel {
    display: inline-block;
    padding: 10px; }
  .contact-link {
    display: inline-block;
    padding: 5px 20px 5px 5px; }
    .contact-link a {
      border-radius: 3px;
      color: #33363d;
      display: block;
      font-size: 10px;
      font-weight: bold;
      text-decoration: none; }
      .contact-link a:hover {
        text-decoration: underline; }

section {
  background: #272d38;
  color: #fdfdfd;
  font-family: "Lato";
  padding: 80px;
  position: relative;
  text-align: center; }
  section.about p {
    font-size: 18px; }
  section h2 {
    border: 3px solid #fff;
    color: #ffb01f;
    display: inline-block;
    margin-bottom: 70px;
    padding: 10px 20px;
    text-transform: uppercase; }
  section p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    padding: 0 150px 50px;
    text-align: center; }
  section .half-section {
    padding: 0 50px;
    text-align: left; }
    section .half-section h3 {
      border-bottom: 2px solid #fff;
      color: #ffb01f;
      display: inline-block;
      margin: 20px 50px;
      padding-bottom: 10px;
      text-align: left;
      text-transform: uppercase; }
    section .half-section p {
      font-size: 16px;
      padding: 0;
      padding-left: 50px;
      text-align: left;
      width: 55vw; }

.services {
  background: #333a48;
  overflow: hidden; }

.container {
  margin: 0 auto; }
  .container.text-left p {
    text-align: left; }
  .container .card {
    background: #272d38;
    border-bottom: 3px solid #fdfdfd;
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 10px;
    min-height: 240px;
    padding: 15px 40px 35px;
    transition-duration: .3s;
    vertical-align: top;
    width: 30%; }
    .container .card:hover {
      border-bottom: 3px solid #ffb01f;
      box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.44);
      transform: scale(1.03); }
    .container .card h3 {
      border-bottom: 2px solid #fff;
      color: #ffb01f;
      display: inline-block;
      font-size: 14px;
      margin: 25px 50px;
      padding-bottom: 10px;
      text-transform: uppercase; }
    .container .card p {
      font-size: 14px;
      font-weight: lighter;
      line-height: 23px;
      padding: 0; }
  .container .middle {
    display: inline-block;
    vertical-align: top;
    width: 50%; }

.tecs {
  padding: 20px; }
  .tecs .item {
    background: #272d38;
    border-radius: 60px;
    display: inline-block;
    margin: 0 25px;
    padding: 5px;
    transition-duration: .3s; }
    .tecs .item:hover {
      background: #333a48;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.44);
      transform: scale(1.04); }
    .tecs .item img {
      height: 100px;
      padding: 15px;
      transition-duration: .3s;
      width: 100px; }

.text-left {
  text-align: left; }

.link {
  color: #ffb01f;
  font-weight: 400; }
